@using System.Net
@using System.Collections
@model zSolutions.Models.Jobs.Job

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="seperator-sm-top"></div>
<div class="row align-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @Html.TextAreaFor(model => model.Description, new {@Class="form-control seperator-xxl-fat-mid seperator-xxl-top description"})
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <script>
                tinymce.init({
                    selector: 'textarea',
                    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                    tinycomments_mode: 'embedded',
                    tinycomments_author: 'Author',
                    width : "900",
                    mergetags_list: [
                        { value: 'First.Name', title: 'First Name' },
                        { value: 'Email', title: 'Email' },
                    ]
                });
            </script>
            <div class="form-group">
                <label asp-for="GitHub" class="control-label"></label>
                <div class="row">
                    <div class="col"><input asp-for="GitHub" id="github" class="form-control" /></div>
                    <div class="col pressed">
                        <div class="row">
                            <div class="col">
                                <span id="right" class="checkbox ">
                                    <i class="fa-solid fa-check"></i>
                                </span>
                                <span id="notright" class="cross">
                                    <i class="fa-solid fa-xmark"></i>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>


                <span asp-validation-for="GitHub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger">

                </span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label "></label>
                <select asp-for="Status" class="form-control">
                    <option value="0">New</option>
                    <option value="1">Progress</option>
                    <option value="2">Finished</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label "></label>
                @Html.DropDownList("Users", new SelectList((IEnumerable)ViewData["Users"], "Id", "Name"))
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="seperator-sm-top"></div>
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
<script type="text/javascript">


    let input = document.querySelector('#github');

    // Add an event listener to monitor changes
    input.addEventListener('keyup', function (e) {

        var a = fetch(input.value)
        a.then(response => {
           
            if (!response.ok && input.length !== 0) {
                notright.style.visibility = 'visible';
                right.style.visibility = 'hidden';
                throw Error(response.statusText);
                if (input === "") {
                    notright.style.visibility = 'hidden';
                    right.style.visibility = 'visible';
                }
            } else {
                console.log(input.value);
                notright.style.visibility = 'hidden';
                right.style.visibility = 'visible';
            }
        }).catch(error => {                  
            notright.style.visibility = 'visible';
            right.style.visibility = 'hidden';
        });
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
